<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"></h2>
                <hr class="light">
                <p class="text-faded">New Haven is a place with rich, complex history -- a story that deserves to be told and felt.   
                    
                    Composition NHV is a collaged time-and-space capsule of New Haven, integrating archival sources, video, audio, and sound, to build an immersive experience.  
                    
                    
                    The project seeks to prompt questions, rather than deliver answers, about life here and possible futures. Using a collaged soundscape that layers sounds and views of the past and present, the installation is a representation and exploration of the tension between joy and loss, work and play, and growth and destruction. The installation will live on virtually and in physical collage form as visitors will be able to contribute and create collages of their New Havens.</p>
                <a href="#" class="btn btn-default btn-xl">What does it mean?</a>
            </div>
        </div>
    </div>
</section>
