<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Concepts</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rainbow wow bounceIn text-primary"></i>
                    <h3>Queer</h3>
                    <p class="text-muted">The Queer History of New Haven</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-soundcloud wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Soundscape</h3>
                    <p class="text-muted">Through its sounds</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-picture-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>History</h3>
                    <p class="text-muted">And its archives</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">Because we love New Haven!</p>
                </div>
            </div>
        </div>
    </div>
</section>
