<header>
    <!-- The video -->
<video autoplay muted loop id="myVideo">
    <source src="test.mov" type="video/mov">
  </video>
  
  
  <div class="header-content">
        <div class="header-content-inner">
            <h1>Composition NHV.
                <br>
                A Time and Space Capsule</h1>
            <hr>
            <p>What does a city feel like? </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <button id="myBtn" onclick="myFunction()">Pause</button>
        </div>
    </div>
</header>
