  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>The Project</h2>
              
              “Composition NHV” is a collaborative Public Humanities project conceived as part of Introduction to Public Humanities, a Spring 2023 course at Yale University.
              
              We have sought to implement a collaborative workflow rooted in consensus-based decision-making on issues that relate to the project as a whole including the project's design, content, and team roles.

              <br>
              <br>

              <h2>Our team</h2>

              Our team consists of the students in this course, Akeel Vitarana, Ana Rodrigues, Caroline Dunbar, Debbie Rabinovich, Estelle Guéville, Gabrielle Niederhoffer, Giselle Gaytán, Gracie Anderson, Iz Klemmer, Karen Cortez, Karla Camacho, Katy Maldonado Dominguez, Manoela Saldanha, Sreya Pinnamaneni, Sunni Parisien, and Thais Vianna as well as the instructor for the course, Ryan Brasseaux.

          </div>
      </div>
  </aside>
